NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
USER_PASSWORD=user
ADMIN_API_KEY=

NEXT_PUBLIC_SENTRY_ENABLED=false
NEXT_PUBLIC_SENTRY_DSN=
